
.entityTreeButton {
  background-color: $entityTreeButtonBackgroundColor;
  border: none;
  color: $entityTreeButtonColor;
  cursor: pointer;
  padding: 0.2rem;
  user-select: none;
  border: 0.1rem solid $entityTreeButtonBorderColor;
  font-size: 0.75rem;
}

.entityTreeButton:hover {
  background-color: $entityTreeButtonHoverBackgroundColor;
  color: $entityTreeButtonHoverColor
}

.entityTreeButton.active {
  border: 0.1rem solid $primarySelectionBackgroundColor;
}
